<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="prost, blog, Stanislav Prokop" />
        <title>inclouds.cz: {{ page.title }}</title>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/statics/style.css">
        <link rel="stylesheet" type="text/css" href="/statics/pygments.css">
        <link rel="stylesheet" type="text/css" href="/statics/disqus_overload.css">
    </head>
    <body>
        <div id="top">
            <div id="image_logo">
                <a href="http://inclouds.cz/"><img src="/statics/clouds.png" /></a>
            </div>
            <div id="image_wrapper">
                <div id="logo">
                    <a href="http://inclouds.cz">inclouds.cz</a>
                </div>
                <div id="menu">
                    <a class="main_link" href="/">index</a>
                    &nbsp;
                    <a class="main_link" href="http://twitter.com/prost87/">twitter</a>
                    &nbsp;
                    <a class="main_link" href="http://www.linkedin.com/in/prost87">linkedin</a>
                </div>
            </div>
            <div id="clear_both"></div>
        </div>
        {{ content }}
    </body>
</html>