#dsq-like-thread-button, #dsq-dislike-thread-button, #dsq-toolbar-dropdown, .dsq-community-box, #dsq-toolbar-dropdown-wrap {
    background-color: black !important;
}

.dsq-button {
    background-color: white !important;
    color: black !important;
    background-image: none !important;
    border-color: black !important;
}

.dsq-textarea-background {
    border-color: black !important;
}

div.dsq-attach-media-container span {
    background-color: white !important;
    color: black !important;
}

.dsq-post-tools {
    border-top-color: black !important;
    border-top-style: solid !important;
}

#dsq-sort-select {
    background-color: white !important;
}

/*
#dsq-account-dropdown > a {
    background-color: black !important;
    border-width: 0 !important;
    color: white !important;
}
*/
#dsq-account-dropdown {
    display: none;
}